body.dark-mode{
  background:#0f172a;
  color:white;
}


body.dark-mode .main-header{
  background:#020617;
}

body.dark-mode .feature-card,
body.dark-mode .hero-card{
  background:#111827;
  color:white;
}

body.dark-mode .section{
  background:#0f172a;
}

body.dark-mode .section-head p{
  color:#cbd5e1;
}


body.dark-mode .login-body{
  background:linear-gradient(135deg,#020617,#111827);
}

body.dark-mode .login-card{
  background:#111827;
  color:white;
}

body.dark-mode .input-group input{
  background:#1e293b;
  color:white;
  border-color:#334155;
}


body.dark-mode .dashboard-body{
  background:#0f172a;
}

body.dark-mode .sidebar{
  background:#020617;
}

body.dark-mode .main-content{
  background:#0f172a;
}

body.dark-mode .card{
  background:#111827;
  color:white;
}

body.dark-mode .topbar h1{
  color:white;
}

body.dark-mode .activity-list li{
  color:#e2e8f0;
}

body.dark-mode .upload-card input{
  color:white;
}

body.dark-mode #resultBox{
  color:#4ade80;
}

body.dark-mode .progress-bar{
  background:#1e293b;
}


body.dark-mode .setting-item{
  background:#111827;
  color:white;
}


body.dark-mode .history-card{
  background:#111827;
  color:white;
}


body.dark-mode table{
  background:#111827;
  color:white;
}

body.dark-mode th{
  background:#1e293b;
}

body.dark-mode td{
  border-color:#334155;
}


body.dark-mode #weatherBox{
  color:#f8fafc;
}


body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select{
  background:#1e293b;
  color:white;
  border:1px solid #334155;
}

body.dark-mode button{
  box-shadow:none;
}

body.dark-mode ::-webkit-scrollbar-track{
  background:#111827;
}

body.dark-mode ::-webkit-scrollbar-thumb{
  background:#22c55e;
}

body.dark-mode .toggle-switch{
  background:#334155;
}

body.dark-mode .toggle-switch.active{
  background:#22c55e;
}