.dark-mode{
background:#020617;
color:white;
}

.dark-mode .card{
background:#111827;
color:white;
}

.dark-mode .card p{
color:#d1d5db;
}

.dark-mode .feature-card{
background:#111827;
color:white;
}

.dark-mode .feature-card p{
color:#d1d5db;
}

.dark-mode .main-content{
background:#020617;
}

.dark-mode .topbar h1{
color:white;
}